@media screen and (max-width: 1324px) {
    .container-list {
        // background-color: red;

        .title {
            padding: 0 1.2rem;
            color: black !important;
        }

        .description {
            padding: 0 1.3rem;
            color: grey !important;
        }

        .list-text {
            display: none;
        }

        .list-button {
            height: 38px;
        }
    }
}
